# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Springboot-JPA-WebApp\jpashop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
